/* MAIN */
.main_index {
    display: flex;
}

/* Information */ 
.info {
    width: 22.5rem;
    padding: 0rem; 
}
.info_title {
    margin-bottom: 1.5rem;
}

.separador {
    margin-top: 2.5rem;
    height: 17.5rem;
    width: 1.25px;
    background-color: #dadada;
}

/* Log In */
.login {
    width: 20rem;
    padding: 0rem;
    padding-bottom: 22.5rem;
}
.form_text {
    margin-bottom: .2rem;
}



@media (max-width: 768px) {
    /* Main */
    .main_index {
        align-items: center;
    }

    /* Información */ 
    .info {
        width: 100%;
    }
    .info_title {
        margin-bottom: 1rem;
    }
    .info_text {
        text-align: center;
    }
    .separador {
        display: none;
    }

    /* Inicio de sesión */
    .login {
        width: 95%;
        margin: 0rem;
        /* padding: 1rem; */
        padding-bottom: 10rem;
    }
}